{% extends "base.html" %}

{% block title %}Barbarossa Lives Business Suite{% endblock %}

{% block content %}
  <style>
    body {
      position: relative;
      min-height: 100vh;
    }
    body::before {
      content: "";
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      background-image: url('/static/images/codewizardsitting.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.4; /* Adjust for desired transparency */
      z-index: -1;
    }
  </style>
  <div class="d-flex align-items-top justify-content-center" style="min-height: 100vh;">
    <div class="text-center mt-5 text-white fs-1">
      Business Suite
    </div>
    
  </div>
{% endblock %} 